#establishments{
	max-width: 100%;
	position: relative;
	margin: auto;
}
.estab{
	display: none;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	width: auto;
	padding: 16px;
	color: white;
	font: bold 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next{
	right: 0;
	border: 3px 0 0 3px;
}

.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}

.establishment-char{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.current, .dot:hover{
	background-color: #717171;
}

.fade{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade{
	from {opacity: 4;}
	to {opacity: 1}
}
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}